.todoWrapper {
  border: 2px solid black;
  margin: 10px;
  padding: 18px;
  min-height: 460px;
}

.todolist {
  list-style: none;
  margin: 20px 0 20px;
  padding: 0;
}

.todoDetails {
  width: 500px;
  display: inline-block;
}

.todoDelete {
    margin: 30px;
}

.filterText {
  margin-right: 30px;
  font-size: 18px;
  display: inline-block;
}

.isCompleted {
  text-decoration: line-through;
}


.filterItem {
  text-transform: capitalize;
}

.todoEntry {
  margin-right: 5%;
  width: 75%;
}

.todoAddBtn {
  width: 20%;
  background-color: white;
}


.counter {
  font-size: 18px;
}
